.creativity-section{
    width: 100%;
    height: 80vh;
    padding: 10px 40px;
    margin: 10px auto;
    text-align: center;
    h2{
        font-weight: 700;
        padding: 10px 0px;
        span{
            color: #1675eb;
        }
    }
    p{
        font-size: 14px;
        font-weight: 500;
        color: rgb(75, 75, 75);
    }
    .creativity-container{
        display: flex;
        align-items: center;
        padding: 20px 0px;
        .creativity-left{
            width: 50%;
            padding-left: 100px;
            text-align: left;
            .d-flex{
                display: flex;
                margin: 20px 0px;
                align-items: center;
                gap: 15px;
                }
                .text{
                    h3{
                        font-weight: 600;
                        padding: 3px;
                    }
                    p{
                        // width: 70%;
                        font-size: 13px;
                        line-height: 22px;
                    }
                }
            }
        }
        .creativity-right{
            // flex: 1;
            width: 50%;
            text-align: center;
            img{
                width: 70%;
            }
        }
    }

    @media screen and (max-width: 480px){
        .creativity-section{
            height: 100vh;
            padding: 0px 10px 100px 10px;
            .creativity-container{
                flex-direction: column;
                .creativity-left{
                    width: 100%;
                    padding: 0px;
                }
                .creativity-right{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }