@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
.react-calendar__navigation{
  width: 100%;
  text-align: center;
  padding: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__navigation__label{
  padding: 5px 10px;
  font-size: 14px;
  
  border: 1px solid lightgray;
  border-radius: 3px;
}

.react-calendar__navigation__prev-button{
  padding: 0px 8px;
  text-align: center;
  color: #0078db;
  margin: 0px 2px;
  border: 1px solid lightgray;
  font-size: 20px;
  cursor: pointer;
}

.react-calendar__navigation__next-button{
  padding: 0px 8px;
  text-align: center;
  color: #0078db;
  margin: 0px 2px;
  border: 1px solid lightgray;
  font-size: 20px;
  cursor: pointer;
}

.react-calendar__navigation__next2-button{
  padding: 0px 8px;
  text-align: center;
  color: #0078db;
  border: 1px solid lightgray;
  font-size: 20px;
  cursor: pointer;
  display: flex;
}
.react-calendar__navigation__prev2-button{
  padding: 0px 8px;
  text-align: center;
  color: #0078db;
  border: 1px solid lightgray;
  font-size: 20px;
  cursor: pointer;
}
